/* Tarjetas de Presentación */
.card{
    margin: 1rem .5rem;
    border-radius: .25rem;
    padding: 1rem;
    box-shadow: -.1rem .1rem .25rem #666;
    overflow: hidden;
}
.card-header{
    margin: -1rem -1rem 1rem;
    padding: 1rem;
    color: #eee;
    background-color: #012;
    text-transform: capitalize;
    text-shadow: 0 0 .5rem #333;
}
/* Degradados de color */
.orange-gradient{
    background-image: linear-gradient(to right,orange,#a62);
}
.blue-gradient{
    background:  radial-gradient(rgb(51,102,204),hsl(220,50%,20%));
}
.yellow-gradient{
    background: conic-gradient(
        from 90deg,
        hsl(60,80%,50%),
        hsl(45,70%,50%)
    );
}
main{
    margin: auto;
    max-width: 1140px;
    padding: .5rem;
}
/* Flexbox */
.flex{
    display: flex;
    flex-wrap: wrap;
}
.flex > *{
    flex:1 0 min(300px,100%) ;
}
.flex h2{
    flex-basis: 100%;
    padding: 1rem;
    text-align: center;
}